<ion-view view-title="Lista">
    //primary, secondary, left, right ->respectivamente
    <ion-nav-buttons side="secondary">
        <a href="#/new" class="button button-icon ion-plus"></a>
    </ion-nav-buttons> 

    
    <ion-content ng-controller='ListaCtrl'>           
    <ion-list>
        <ion-item ng-repeat="t in tarefas">
            {{t.texto}}
            <ion-option-button class="button-positive icon-left ion-checkmark-round" ng-click="concluir($index)">Concluir</ion-option-button>
            <ion-option-button class="button-assertive icon-left ion-trash-a" ng-click="apagar($index)">Apagar</ion-option-button>    
        </ion-item>
    </ion-list>


    </ion-content>
</ion-view>